body {
      /*font-family: 'Ubuntu Mono', sans-serif;*/
      /*font-family: 'Oxygen Mono', sans-serif;*/
      font-family: 'Open Sans Condensed', sans-serif;
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      min-width: 900px;
      overflow-y: auto;
      overflow-x: auto;
}
html { 
  background: url(../img/pibg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
}
a:link {
  text-decoration: none;
  color: inherit;
}
a:visited {
  text-decoration: none;
  color: inherit;
}
.num:link {
  color: black;
}
.num:visited {
  color: black;
}
.banner {
  position: absolute;
  width: 100%;
  min-width: 900px;
  top: 0;
  height: 80px;
  background-color: #4D4D4D;
  color: white;
  line-height: 80px;
}
.banner-text {
  padding-left: 5%;
  width: 55%;
  display: inline-block;
}
.banner-icons {
  position: absolute;
  right: 0;
  margin-left: auto;
  margin-right: 0;
  padding-right: 10px;
  display: inline-block;
  width: 20%;
}
.ban-icon {
  padding: 10px;
}
.ban-icon#heart {
  padding-left: 20px;
}
.jumbo {
  margin-top: 250px;
  width: 55%;
  position: absolute;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  text-align: center;
  background-color: rgba(248, 248, 248, 0.25);
  line-height: 70px;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
}
.jumbo #nums {
  font-family: 'Oxygen Mono', sans-serif;
  width: 100%;
  display: block;
}
#slogan {
  display: inline-block;
  width: 80%;
}
#footnote {
  display: inline-block;
  width: 50%;
}
#sq2 {
  font-size: 0.75em;
}
.wrapper {
  position: relative;
  display: block;
}
.toggle {
  position: relative;
  top: 100px;
  width: 35px;
  opacity: 0.4;
  color: white;
  overflow-y: hidden;
  overflow-x: hidden;
}
.toggle-text-area {
  padding-left: 20px;
  padding-right: 20px;
  display: none;
}
.toggle#left {
  float: left;
  background-color: #A31B00;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.toggle#right {
  float: right;
  background-color: #4BBD00;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  text-align: center;
}
.toggle-text-left {
  line-height: 1.3em;
  padding-left: 20px;
  font-size: 1.1em;
  margin-top: 5px;
  margin-bottom: 0;
}
.toggle-text-right {
  width: 100%;
}
.toggle-header {
  font-size: 2.2em;
  line-height: 1em;
  margin-bottom: 0;
}
.toggle-footer {
  width: 100%;
}
.toggle-banner {
  font-size: 2.5em;
  color: black;
  line-height: 0.5em;
  padding-top: 10px;
  padding-bottom: 10px;
}
#phi {
  color: #FFD900;
}
#e {
  color: #333300;
}
#sqrt {
  color: #0073E6;
}
#tau {
  color: #FF1472;
}
#pi {
  color: #FAFAFA;
}
.transformation {
  font-size: 1.5em;
  text-align: center;
  line-height: 1.5em;
}
.picolor {
  color: #56E90C;
}
#jets {
  padding-left: 10px;
  padding-right: 10px;
}
#jet1 {
  color: #D6FCC5;
}
#jet2 {
  color: #A1F97B;
}
#jet3 {
  color: #64F11E;
}
.piblock {
  padding-left: 20px;
  padding-right: 20px;
  word-wrap: break-word;
  font-size: 75%;
  margin-bottom: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-top: 0;
}